<div class="container">

    <form #f="ngForm" (ngSubmit)="tratarFormulario(f.value)" id="formlogin">

    	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">       
                <input name="user" type="text" ngModel>
                <input type="password" name="password" ngModel>
            </div>
            <button class="btn btn-info btn-block login" type="submit">Login</button>            
        </div>
    </form> 
</div>