<!-- navbar component -->

<app-navbar></app-navbar>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a [routerLink]="['/main/home']">Home</a></li>
            <li><a [routerLink]="['/main/cadastro']">Cadastro</a></li>
            <li><a [routerLink]="['/main/websocket']">WebSocket</a></li>
          </ul>
        </div>

        <router-outlet></router-outlet>       

    </div>
 </div>